@import "mixins";

.g-tabbar {
  display: flex;
  width: 100%;
  height: $tabbar-height;
  background-color: #fff;
  /*使用&表示引用上一个类的名字 如这里的.g-tabbar*/
  &-item {
    flex: 1;
    @include flex-center(column);

    .iconfont {
      margin-bottom: 0.08rem;
      font-size: $icon-font-size;
    }
  }
}
